/* ==-LOCATIONS-== */

main {
    padding-bottom: 100000px;
}
/* LOGO */
.logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    z-index: 1000;
}

/* NAV-FIX */
nav a {
    padding: 30px 170px;
}