/* ---=== BASE ===--- */

@import url("https://use.typekit.net/njx7drz.css");

:root{
    --green: #9aae74;
    --l-green: #d3d7cb;
    --d-green: #183014;
    --orange: #ba4526;
    
    --orange-h: #e5a694;

    --headline: lores-15-narrow, sans-serif;
    --headline-bold: lores-15-bold-alt-oakland, sans-serif;
    --paragraph: realist, sans-serif;
}

body{
    background: var(--l-green);
    font-family: var(--paragraph);
}

.wrapper{
    max-width: 1920px;
    margin-inline: auto;
}

/* ---=== TEXT ===--- */
h1{
    font-family: var(--headline-bold);
    font-size: calc(8.6rem + 1vw);
    color: var(--orange);
    text-transform: uppercase;
    margin: 0;
}
h2{
    font-family: var(--headline-bold);
    font-size: calc(4rem + 1vw);
    color: var(--orange);
    text-transform: uppercase;
    margin: 0;
}
p{
    font-size: calc(0.5rem + 1vw);
    font-weight: 500;
    margin-left: 3rem;
    color: var(--d-green);
}
/* links */
a{
    font-size: calc(0.5rem + 1vw);
    font-weight: 500;
    text-decoration: none;
    color: var(--d-green);
}
a:hover{
    text-decoration: underline;
}


/* ---=== SECTIONS ===--- */
header{
    margin: 0 auto;
    padding: 1rem 5rem 1rem 5rem;
    border: var(--green) 6px solid;
    display: grid;
}
header h2, 
header h1{
    text-align: right;
    color: var(--d-green);
}
.header-logo{
    grid-area: 1 / 1 / 2 / 2;
}
.header-name{
    grid-area: 1 / 2 / 3 / 2 ;
}
.header-nav{
    grid-area: 2 / 1 / 3 / 2;
}

nav a{
    text-decoration: none;
    color: var(--d-green);
    font-weight: 700;
    font-size: calc(1rem + 1vw);
}
nav a:hover{
    text-decoration: underline;
}
nav li{
    list-style: none;
}
nav ul{
    padding: 0;
    display: flex;
    gap: 2.5rem;
}

main{
    padding: 2rem 10rem;
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem 5rem 1rem 5rem;
    border: var(--green) 6px solid;
}

footer h2{
    color: var(--d-green);
} 
footer a , footer p{
    margin: 1rem 0;
}

.contact{
    grid-area: 1 / 3;
    text-align: right;
}
.mail{
    display: flex;
    justify-content: end;
    align-items: center;
}
.github{
    display: flex;
    justify-content: start;
    align-items: center;
}

/* ---=== SVG ===--- */
#logo{
    fill: var(--orange);
    max-width: 118px;
}
#mail-icon, #github-logo{
    fill: var(--d-green);
    width: 50px;
    margin-right: 2rem;
}

img{
    max-width: 100%;
    display: block;
}