/* ---=== BASE ===--- */


@import url("https://use.typekit.net/njx7drz.css");

:root {
    --orange-0: rgb(186, 70, 39);
    --orange-100: rgb(198, 121, 103);

    --green-0: rgb(24, 46, 20);
    --green-25: rgb(109, 127, 91);
    --green-50: rgb(153, 173, 122);
    --green-75: rgb(214, 226, 197);
    --green-100: rgb(211, 215, 203);

    --purple-0: rgb(69, 46, 90);

    /* SIZES */
    --size-s: 1rem;
    --size-m: 2rem;

    /* BORDER */
    --border-m: var(--green-50) solid 8px;

    /* FONTS */
    --heading: 6rem lores-12-bold-alt-oakland, sans-serif;
    --subheading: 3rem lores-12, sans-serif;
    --paragraph-big: 1.3rem realist, sans-serif;
    --paragraph: 1rem realist, sans-serif;
    --paragraph-light: 1rem realist, sans-serif;
}

body {
    background: var(--green-100);
    height: 5000px;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

/* TEXT */
h1 {
    font: var(--heading);
    color: var(--green-0);
}

p,
li {
    font: var(--paragraph);
    color: var(--green-0);
}

/* links */
a {
    font: var(--paragraph-big);
    font-weight: 700;
    text-decoration: none;
    color: var(--green-0);
}

a:hover {
    transition: color 0.2s;
    color: var(--purple-0);
    text-decoration: underline;
}

/* HEADER */
header {
    border: var(--border-m);
    padding: 0 var(--size-s);
    grid-template-columns: auto 1fr 1fr auto;
}

header #logo {
    margin-top: 1.5rem;
}

.header-name {
    text-align: end;
    text-transform: uppercase;
    grid-area: 1 / 4/ 3;
}

.header-name h1 {
    margin: 0;
}

/* NAV */
nav {
    grid-area: 2 / 1 / 2 / 3;
}

nav ul {
    display: flex;
    align-items: end;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
}

nav a {
    font: var(--paragraph);
    font-size: 1.6rem;
    font-weight: 700;
}

/* nav-small */
.nav-small {
    border: var(--border-m);
    position: fixed;
    padding: 0 var(--size-s);
    top: 8px;
    left: 8px;
    right: 8px;
    transition: top 0.5s;
}

.nav-small ul {
    gap: var(--size-m);
    align-items: center;
}

.nav-small #logo {
    width: 40px;
}

/* SVG */
#logo {
    fill: var(--orange-0);
    width: 100px;
}

#logo:hover {
    transition: fill 0.5s;
    fill: var(--purple-0);
}

/* ATTRIBUTES */
.grid {
    display: grid;
    gap: var(--size-m);
}