/* ---=== INDEX ===--- */

/* === GRID === */
.grid img{
    grid-area: 1 / 2 / 3 / 4;
    width: 600px;
    justify-self: end;
}
/* top */
.top{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
}

/* ======================================================== */


/* TEXT */
.text{
    margin:  0 0 0 35px;
    grid-area: 2 / 1 / 2/ 3;
}