.skills{
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gr-gap);
    margin: 2rem 0; 
}
.skills .item{
    display: flex;
    justify-content: start;
}

.info{
    padding: 1rem;
    width: 100%;
}

.scale{
    width: 200px;
    height: 2rem;
    background: var(--green);
    align-content: center;
}
.scale p{
    margin: 0 0 0 0.5rem;
    color: var(--d-green);
    font-weight: 600;
}



/* ---=== BREAKPOINTS ===--- */

@media (max-width: 1024px) {
    :root{
        --gr-gap: 0
    }

    .skills{
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    .scale{
        height: 30px;
    }
}

/* ==== PHONE ==== */
@media (max-width: 700px) {
    .scale{
        height: 20px;
    }
}

.ai{
    width: 80%;
}
.ps{
    width: 60%;
}
.id{
    width: 70%;
}
.pr{
    width: 50%;
}
.html{
    width: 80%;
}
.css{
    width: 60%;
}
.js{
    width: 20%;
}
.dav{
    width: 60%;
}
.py{
    width: 40%;
}