/* ---=== ABOUT ===--- */


.grid{
    grid-template-columns: repeat(2, 1fr);
}

.text li{
    margin: 0 0 0 1.5rem;
}

.why{
    grid-area: 1 / 1 / 3 ;
}
.this-me{
    overflow: hidden;
}
.this-me img{
    border: var(--border-w) var(--green) solid;
    width: 50%;
}

/* ==== TABLET ==== */
@media (max-width: 1024px) {
    .this-me img{
        width: 100%;
    }
}

/* ==== PHONE ==== */
@media (max-width: 700px) {
    .grid{
        display: flex;
        flex-direction: column;
    }

    .this-me img{
        width: 70%;
    }

    .flex{
        flex-wrap: wrap;
    }
}